html,
body,
header,

}

@media (max-width: 740px) {
  html,
  body,
 
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
}
.landing-bg {
    background: url('../images/cover.jpg')no-repeat center center;
    background-size: cover;
    height: 100%;

}
.main-bg{
  background: url('../images/background.jpg')repeat center center;
    background-size: cover;
    height: 100%;
}
/*.login-form p,a{
    color: white;
    font-size: large;
    font-weight: bold;
  }*/
 

}
main{
  margin-top:59px;
}
.login-pos{
  margin-top: 110px;
}
.list-pos{
  margin-top: 32px;
}
.form-row>label{
  font-weight: bold;
}
