@media (max-width: 740px) {
  html,
  body,
 
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
}
/*.view {
    background: url('../images/cover.jpg')no-repeat center center;
    background-size: cover;
}
 */
main{
  margin-top:52px;
}
.landing-bg{
  /* The image used */
  background-image: url('../images/cover.jpg');
  /* Full height */
  height: 92%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-center{
  align-items: center;
  display: flex;
}
.main-bg{
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat:repeat;
  background-position: center;
  height: inherit;

}
.view-detail{
  width:100%;
  object-fit: cover;
  object-position: center;
}